{% extends "ShopBundle::layout.html.twig" %}

{# Variables pour le calcul de la commande#}
{% set totalHT = 0 %}
{% set totalTTC = 0 %}

{% block title %}
    Panier - {{ parent() }}
{% endblock title%}

{% block body %}
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>DETAIL DE VOTRE PANIER</h4>
                    <p>VOUS AVEZ {{ articles|length }}
                        {{   articles|length > 1 ? 'ARTICLES' : 'ARTICLE' }}.</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!--  bluewrap -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                {% if articles | length > 0 %}
                    <h2>Votre panier</h2><br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Prix total</th>
                        </tr>

                        </thead>

                        <tbody>

                        {% for article in articles %}
                            <tr>
                                <td class="col-lg-2">{{ article.id }}</td>
                                <td class="col-lg-4">{{ article.title }}</td>
                                <td class="row">
                                    <form class="col-lg-12 col-md-10 col-sm-12 col-xs-12" action="{{ path('add_articles', {'id': article.id}) }}" method="get">
                                        <div class="col-lg-8 col-md-6 col-sm-9 col-xs-9">
                                            <select name="quantity" class="form-control" onchange="this.form.submit()">
                                                {% for i in 1..article.quantity %}
                                                    <option value="{{ i }}" {% if i == cart[article.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                                            <a href="{{ path('remove_articles', { 'id': article.id }) }}" title="Supprimer"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </div>

                                    </form>
                                </td>
                                <td class="col-lg-2">{{ article.price }} €</td>
                                <td class="col-lg-2">{{ article.price * cart[article.id]}} €</td>
                            </tr>
                            {# Additione le total des produits #}
                            {% set totalHT = totalHT + (article.price * cart[article.id]) %}


                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="row">
                        <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-right"><strong>Prix total HT : </strong></span>
                        <span class="col-lg-2">{{ totalHT }} €</span>
                    </div>
                    <br>
                    <div class="row">
                        <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-right"><strong>TVA : </strong></span>
                        <span class="col-lg-2">20.00 %</span>
                    </div>
                    <br>
                    <div class="row">
                        <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-right"><strong>Prix total TTC : </strong></span>
                        {% set totalTTC = ((totalHT *0.2)+totalHT )%}
                        <span class="col-lg-2">{{ totalTTC }} €</span>
                    </div>
                    <br><br><br>
                    <div class="cart_empty_text span6 pull-left">
                        <a href="{{ path('list_articles') }}" class="btn btn-primary btn-lg">Continuer mes achats</a>
                    </div>
                    <div class="cart_empty_text span6 pull-right">
                        <a href="#" class="btn btn-success btn-lg">Valider ma commande</a>
                    </div>

                {% else %}

                    <br><br><br>
                    <h2 class="cart_empty_text">Votre panier est vide</h2>
                    <div class="cart_empty_text">
                        <a class="btn btn-lg btn-primary " href="{{ path("list_articles") }}">Consulter les produits</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}